@{
    ViewBag.Title = "Home Page";
}
<div class="linkStyle">
    @Html.ActionLink("Fixture", "Index", "Games")<br />
    @Html.ActionLink("Past Fixture", "pastIndex", "Games")<br />
    @Html.ActionLink(" Members", "Index", "Members")

</div>